<h1>Create a new squad </h1>

<input class="squadron-name" type="text" placeholder="Squadron Name..." />
<input class="squadron-number" type="text" placeholder="Squadron Number..." />

<select class="squadron-faction">
  <option value="rogue">Rogue</option>
  <option value="rebels">Rebels</option>
  <option value="empire">Empire</option>
</select>

<p><button class="save"> Add squadron</button> </p>
<p><button class="return-button"> Cancel</button> </p>