<% let squadron = state.squadrons[params.id] %>

<h1>Squadron</h1>

<button class ="return-button">Return</button>

<p>Showing squadron: <%= squadron.name %></p>
<p>You have: <%= squadron.number%> ships.</p>
<p>You belong to the <%= squadron.faction%> faction. </p>